{% extends "/layout/main_layout.html" %}
    {% block content %}

    <!-- Edit Post Form -->
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="fw-bold mb-4">블로그 수정</h1>
                <form action="/blogs/edit/{{ blog.id }}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="author" value="{{ blog.author}}" />
                    <!-- Title Input -->
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ blog.title }}">
                    </div>

                <!-- Image Input -->
                <div class="mb-3">
                    <label for="imagefile" class="form-label">Post Image</label>
                    <!-- 기존 이미지가 있는 경우 보여주기 -->
                    {% if blog.image_loc %}
                        <div>
                            <label>현재 이미지:</label>
                            <img src="{{ blog.image_loc }}" alt="Current Image" style="max-width: 200px; max-height: 150px; margin-top: 10px;">
                        </div>
                    {% endif %}
                    <input type="file" class="form-control" id="imagefile" name="imagefile" />
                </div>
                    
                    <!-- Content Textarea -->
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" id="content" name="content" rows="10">{{ blog.content }}</textarea>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">수정 적용</button>
                    <a href="/blogs/show/{{ blog.id }}" class="btn btn-secondary">취소</a>
                </form>
            </div>
        </div>
    </div>
    
    {% endblock %}
